Repository DamianFlynn/k8s-at-home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/vscode, area/tasks, area/terraform

renovate settings updates
  .github/renovate.json5
Labels: area/github

Readme updates
  README.md
Labels: none

fix(helm): update chart reloader to v0.0.114
  cluster/core/kube-system/reloader/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.80.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v32.82.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v32.82.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

Changed the webhook for Flux to discord - some fool might have leaked the last one...
  cluster/base/cluster-secrets.sops.yaml
  cluster/core/cert-manager/secret.sops.yaml
  cluster/core/flux-system/kustomization.yaml
  cluster/core/flux-system/notifications/discord/secret.sops.yaml
  cluster/core/flux-system/notifications/github/secret.sops.yaml
  cluster/core/flux-system/webhook/github/secret.sops.yaml
  cluster/core/networking/cloudflare-ddns/secret.sops.yaml
  cluster/core/networking/external-dns/secret.sops.yaml
  provision/ansible/inventory/host_vars/iot-rpi3-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube2.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube3.sops.yml
  provision/ansible/inventory/hosts.yml
  provision/terraform/cloudflare/secret.sops.yaml
Labels: area/ansible, area/cluster, area/terraform

Adding k8s dashboard
  cluster/apps/default/dashboard/certificate.yaml
  cluster/apps/default/dashboard/helm-release.yaml
  cluster/apps/default/dashboard/ingress-route.yaml
  cluster/apps/default/dashboard/kustomization.yaml
  cluster/apps/default/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/home-assistant/home-assistant to 2022.6.5
  cluster/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kubernetes-dashboard to 5.7.0
  cluster/apps/default/dashboard/helm-release.yaml
  cluster/core/kube-system/dashboard/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.29.11
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v32.83.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

rebuilding structure from kitos9112
  cluster/base/cluster-secrets.sops.yaml
  cluster/base/flux-system/gotk-sync.yaml
  cluster/core/cert-manager/secret.sops.yaml
  cluster/core/flux-system/notifications/discord/secret.sops.yaml
  cluster/core/flux-system/notifications/github/secret.sops.yaml
  cluster/core/flux-system/webhook/github/certificate.yaml
  cluster/core/flux-system/webhook/github/ingress-route.yaml
  cluster/core/flux-system/webhook/github/receiver.yaml
  cluster/core/flux-system/webhook/github/secret.sops.yaml
  cluster/core/networking/cloudflare-ddns/secret.sops.yaml
  cluster/core/networking/external-dns/secret.sops.yaml
  provision/ansible/inventory/host_vars/iot-rpi3-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube2.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube3.sops.yml
  provision/ansible/inventory/hosts.yml
  provision/terraform/cloudflare/secret.sops.yaml
Labels: area/ansible, area/cluster, area/terraform

fix(github-action): update renovatebot/github-action action to v32.83.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update chart connect to 1.7.1
  cluster/crds/1password/crds.yaml
Labels: area/cluster

feat(github-release): update k3s-io/k3s to v1.24.1+k3s1
  provision/ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: area/ansible

feat(helm): update chart traefik to 10.20.1
  cluster/crds/traefik/crds.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.83.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image dgtlmoon/changedetection.io to 0.39.15
  cluster/apps/tools/changedetection-io/helm-release.yaml
Labels: area/cluster

stashing - going to totally reorg
  cluster/base/flux-system/gotk-components.yaml
  cluster/base/flux-system/gotk-sync.yaml
  cluster/base/flux-system/kustomization.yaml
Labels: area/cluster

Fixing the configuration builder
  .config.sample.env
  .pre-commit-config.yaml
  .sops.yaml
  .sourceignore
  cluster/config/cluster-secrets.sops.yaml
  cluster/core/cert-manager/secret.sops.yaml
  cluster/core/flux-system/notifications/discord/secret.sops.yaml
  cluster/core/flux-system/notifications/github/secret.sops.yaml
  cluster/core/flux-system/webhooks/github/secret.sops.yaml
  cluster/core/networking/cloudflare-ddns/secret.sops.yaml
  cluster/core/networking/external-dns/secret.sops.yaml
  configure
  provision/ansible/inventory/host_vars/iot-rpi3-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube2.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube3.sops.yml
  provision/terraform/cloudflare/secret.sops.yaml
  tmpl/cluster/flux-system/kustomization.yaml
  tmpl/cluster/flux-system/notifications/discord/kustomization.yaml
  tmpl/cluster/flux-system/notifications/discord/notification.yaml
  tmpl/cluster/flux-system/notifications/github/kustomization.yaml
  tmpl/cluster/flux-system/notifications/github/notification.yaml
  tmpl/cluster/flux-system/notifications/kustomization.yaml
Labels: area/ansible, area/cluster, area/terraform

Fixing the configuration builder
  cluster/config/cluster-secrets.sops.yaml
  cluster/core/cert-manager/secret.sops.yaml
  cluster/core/flux-system/notifications/discord/secret.sops.yaml
  cluster/core/flux-system/notifications/github/secret.sops.yaml
  cluster/core/flux-system/webhooks/github/secret.sops.yaml
  cluster/core/networking/cloudflare-ddns/secret.sops.yaml
  cluster/core/networking/external-dns/secret.sops.yaml
  configure
  provision/ansible/inventory/host_vars/iot-rpi3-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube2.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube3.sops.yml
  provision/terraform/cloudflare/secret.sops.yaml
Labels: area/ansible, area/cluster, area/terraform

fix(github-action): update renovatebot/github-action action to v32.83.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-release): update fluxcd/flux2 to v0.31.1
  cluster/bootstrap/kustomization.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v0.31.1
  cluster/bootstrap/kustomization.yaml
Labels: area/cluster

feat(github-release): update k3s-io/k3s to v1.24.1+k3s1
  provision/ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: area/ansible

Change Detection Bump to 0.39.15
  cluster/apps/tools/changedetection-io/helm-release.yaml
Labels: area/cluster

Pushed Reset
  .taskfiles/AnsibleTasks.yml
  .taskfiles/ClusterTasks.yml
  .taskfiles/FluxTasks.yml
  cluster/config/cluster-secrets.sops.yaml
  cluster/core/cert-manager/secret.sops.yaml
  cluster/core/flux-system/notifications/discord/secret.sops.yaml
  cluster/core/flux-system/notifications/github/secret.sops.yaml
  cluster/core/flux-system/webhooks/github/secret.sops.yaml
  cluster/core/networking/cloudflare-ddns/secret.sops.yaml
  cluster/core/networking/external-dns/secret.sops.yaml
  provision/ansible/inventory/group_vars/kubernetes/k3s.yml
  provision/ansible/inventory/group_vars/master/k3s.yml
  provision/ansible/inventory/host_vars/iot-rpi3-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube1.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube2.sops.yml
  provision/ansible/inventory/host_vars/iot-rpi4-kube3.sops.yml
  provision/ansible/inventory/hosts.yml
  provision/ansible/playbooks/cluster-installation.yml
  provision/ansible/playbooks/cluster-nuke.yml
  provision/ansible/playbooks/cluster-prepare.yml
  provision/ansible/playbooks/cluster-reboot.yml
  provision/ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  provision/ansible/roles/prepare/handlers/main.yml
  provision/ansible/roles/prepare/tasks/filesystem.yml
  provision/ansible/roles/prepare/tasks/kernel.yml
  provision/ansible/roles/prepare/tasks/locale.yml
  provision/ansible/roles/prepare/tasks/main.yml
  provision/ansible/roles/prepare/tasks/network.yml
  provision/ansible/roles/prepare/tasks/packages.yml
  provision/ansible/roles/prepare/tasks/unattended-upgrades.yml
  provision/ansible/roles/prepare/tasks/user.yml
  provision/terraform/cloudflare/secret.sops.yaml
Labels: area/ansible, area/cluster, area/terraform

update k3s-io/k3s to v1.24.1
  provision/ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: area/ansible

Disabling Longhorn System - Until initial bootstrap is working verfied
  .taskfiles/FluxTasks.yml
  README.md
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/longhorn.yaml
Labels: area/cluster

Fixing the flux-system folder
  cluster/flux/flux-system/flux-installation.yaml
Labels: area/cluster

metallb moved to networking namespace
  cluster/core/networking/metallb-system/helm-release.yaml
Labels: area/cluster

Kustomization for networking namespace from apps folder was incorrect
  cluster/apps/networking/kustomization.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v32.83.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/vscode:
  - ".vscode/**/*"
area/tasks:
  - ".tasks/**/*"
area/terraform:
  - "provision/terraform/**/*"
